{% extends 'base.html' %}

{% block title %}博客 | 邢为栋{% endblock %}

{% block header %}千里之行，始于足下{% endblock %}


{% block content %}

<div class="container">

  <div class="row">
    <div class="col-md-8">
      <div class="pb-0 mb-4 font-italic border-bottom">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 pt-1">
            <h3 class="text-muted">{% block blogheader %}勤劳的老邢{% endblock %}</h3>
          </div>
        </div>
      </div>
      {% block blogmain %}

      {% include 'blog/_posts_list.html' %}

      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          {% if prev_url %}
          <li class="page-item">
            <a class="page-link" href="{{ prev_url }}">上一页</a>
          </li>
          {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#">上一页</a>
          </li>
          {% endif %}
          {% if next_url %}
          <li class="page-item">
            <a class="page-link" href="{{ next_url }}">下一页</a>
          </li>
          {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#">下一页</a>
          </li>
          {% endif %}
        </ul>
      </nav>
      {% endblock %}
    </div><!-- /.blog-main -->

    <aside class="col-md-4 blog-sidebar">
      {% if g.search_form %}
      <form class="mb-3 form-inline" method="get" action="{{ url_for('blog.search') }}">
        {{ g.search_form.q(class_='form-control mr-sm-2', placeholder=g.search_form.q.label.text) }}
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      {% endif %}

      <div class="p-3 mb-3 bg-light rounded">
        <h4 class="font-italic text-muted">About</h4>
        <p>欢迎来到我的博客，内容除非特别说明，否则均为原创，转载请注明出处。</p>
        <p class="mb-0">文章总数：{{ post_all|length }}</p>
        <p class="mb-0">总浏览量：{{ pv_count }}</p>
      </div>

      <div class="p-3">
        <h4 class="font-italic text-muted">TagCloud</h4>
        <div id="tag-cloud"></div>
      </div>

      <div class="p-3">
        <h4 class="font-italic text-muted">Find Me</h4>
        <ul class="list-unstyled text-small">
          <li><a class="text-dark" href="https://github.com/Xingwd" target="_blank">GitHub</a></li>
        </ul>
      </div>

      <div class="p-3">
        <h4 class="font-italic text-muted">Contact Me</h4>
        <ul class="list-unstyled text-small">
          <li><a class="text-dark" href="mailto:614968414@qq.com">Email</a></li>
        </ul>
      </div>

      <div class="p-3">
        <h4 class="font-italic text-muted">Others</h4>
        <ul class="list-unstyled text-small">
          <li><a class="text-dark" href="{{ url_for('copyright') }}">Copyright</a></li>
        </ul>
      </div>

    </aside><!-- /.blog-sidebar -->
  </div>
</div>


<script>
  $( document ).ready( function() {
    var entries = []
    {% for tag in tags %}
    entries.push({ label: '{{ tag.name }}', url: '{{ url_for('blog.tag_filter', name=tag.name) }}', target: '_top' })
    {% endfor %}

    var settings = {
        entries: entries,
        width: 300,
        height: 300,
        radius: '70%',
        radiusMin: 75,
        bgDraw: true,
        bgColor: '#fff',
        opacityOver: 1.00,
        opacityOut: 0.05,
        opacitySpeed: 6,
        fov: 800,
        speed: 0.2,
        fontFamily: 'Oswald, Arial, sans-serif',
        fontSize: '15',
        fontColor: '#000',
        fontWeight: 'normal',//bold
        fontStyle: 'normal',//italic
        fontStretch: 'normal',//wider, narrower, ultra-condensed, extra-condensed, condensed, semi-condensed, semi-expanded, expanded, extra-expanded, ultra-expanded
        fontToUpperCase: false

    };

    //var svg3DTagCloud = new SVG3DTagCloud( document.getElementById( 'holder' ), settings );
    $( '#tag-cloud' ).svg3DTagCloud( settings );

  } );

</script>
{% endblock %}