{% extends 'blog/blog.html' %}

{% block blogmain %}

{% include 'blog/_posts_list.html' %}

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if prev_url %}
    <li class="page-item">
      <a class="page-link" href="{{ prev_url }}">上一页</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#">上一页</a>
    </li>
    {% endif %}
    {% if next_url %}
    <li class="page-item">
      <a class="page-link" href="{{ next_url }}">下一页</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#">下一页</a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endblock %}