{% extends 'blog/blog.html' %}

{% block blogmain %}
{% for post in posts %}
<div class="card bg-light">
  <h4 class="card-header">{{ post.title }}</h4>
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">{{ post.pub_date }}</h6>
    <div class="btn-group-sm" role="group">
      {% for tag in post.tags %}
      <a href="{{ url_for('blog.tag_filter', name=tag.name) }}">
        <button type="button" class="btn btn-info" style="padding: 0 5px 0 5px">{{ tag.name }}</button>
      </a>
      {% endfor %}
    </div>
    <div class="card-text text-truncate" style="margin: 5px 0 5px 0">{{ post.content }}</div>
    <a href="{{ url_for('blog.detail', slug=post.slug) }}" class="card-link">详情</a>
  </div>
</div>
<hr>
{% endfor %}

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if prev_url %}
    <li class="page-item">
      <a class="page-link" href="{{ prev_url }}">上一页</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#">上一页</a>
    </li>
    {% endif %}
    {% if next_url %}
    <li class="page-item">
      <a class="page-link" href="{{ next_url }}">下一页</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#">下一页</a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endblock %}