{% extends 'admin/admin.html' %}

{% block adminmain %}
<div style="padding-top: 50px;">
    <form method="POST">
        {{ post_form.hidden_tag() }}
        <div style="margin: 0 84px 0 84px">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ post_form.title.label }}
                        {{ post_form.title(class_="form-control", placeholder="Title") }}
                        {% for error in post_form.title.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ post_form.slug.label }}
                        {{ post_form.slug(class_="form-control", placeholder="Slug") }}
                        {% for error in post_form.slug.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group">
                        {{ post_form.tags.label }}
                        {{ post_form.tags(class_="form-control js-select2-basic-multiple") }}
                        {% for error in post_form.tags.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-3 btn-toolbar justify-content-between" style="padding-top: 38px">
                    <div>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#newTagModal">
                            New Tag
                        </button>
                    </div>
                    <div>
                        {{ post_form.publish(class_="btn btn-info") }}
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div id="test-editormd"></div>
        </div>
    </form>
    <!-- Modal -->
    <div class="modal fade" id="newTagModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="newTagModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newTagModalLabel">New Tag</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{{ url_for('admin.new_blog_tag') }}">
                        {{ tag_form.hidden_tag() }}
                        <div class="form-group">
                            {{ tag_form.name.label }}
                            {{ tag_form.name(class_="form-control") }}
                            {% for error in tag_form.name.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-info" data-dismiss="modal">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- editor.md -->
<script type="text/javascript">
    var testEditor;

    $(function () {
        testEditor = editormd("test-editormd", {
            width: "90%",
            height: 740,
            syncScrolling: "single",
            path: "{{ url_for('static',filename='editormd/lib/') }}"
        });
    });
</script>

<!-- select2 -->
<script type="text/javascript">
    $(document).ready(function() {
        $('.js-select2-basic-multiple').select2();
    });
</script>

{% endblock %}

