{% extends 'base.html' %}

{% block title %}摄影 | 邢为栋{% endblock %}

{% block header %}心无界，行无疆{% endblock %}


{% block content %}

<div class="container">
  <h1>老邢正在搬运内容...</h1>
  <ul>
    <li><a  class="text-info" href="https://github.com/Xingwd/xcms">xcms(本站源码)</a></li>
    <li><a  class="text-info" href="https://github.com/Xingwd/ambari-services">ambari-services</a></li>
    <li><a  class="text-info" href="https://github.com/Xingwd/python-spider/tree/scrapy-3">Scrapy爬虫初探</a></li>
    <li>......</li>
  </ul>
</div>

{% endblock %}