{% extends 'base.html' %}

{% block title %}标签 | 邢为栋{% endblock %}
{% block head %}
<!-- TagCloud JS -->
<!--<script src="{{ url_for('static', filename='js/jquery.svg3dtagcloud.min.js') }}"></script>-->
<script src="{{ url_for('static', filename='jqcloud/jqcloud-1.0.4.min.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='jqcloud/jqcloud.css') }}">
{% endblock %}

{% block header %}繁花易落尽，流年不再来{% endblock %}


{% block content %}
<div id="tag-cloud" style="width: 100%; height: 450px;"></div>

<script type="text/javascript">
  /*!
  * Create an array of word objects, each representing a word in the cloud
  */
  var entries = [];
  {% for tag in tags %}
  entries.push({ text: '{{ tag.name }}', weight: '{{ tag.posts.count() }}', link: '{{ url_for('tag.tag_filter', name=tag.name) }}'})
  {% endfor %}

  $(function() {
  // When DOM is ready, select the container element and call the jQCloud method, passing the array of words as the first argument.
     $("#tag-cloud").jQCloud(entries);
  });
</script>

{% endblock %}