{% extends 'base.html' %}

{% block title %}学思 | 邢为栋{% endblock %}
{% block head %}
<!-- TagCloud JS -->
<script src="{{ url_for('static', filename='js/jquery.svg3dtagcloud.min.js') }}"></script>
{% endblock %}

{% block header %}学而不思则罔，思而不学则殆{% endblock %}


{% block content %}

<div class="container text-center">
  <div class="p-3">
        <div id="tag-cloud"></div>
      </div>
</div>

<script>
  $( document ).ready( function() {
    var entries = []
    {% for tag in tags %}
    entries.push({ label: '{{ tag.name }}', url: '{{ url_for('tag.tag_filter', name=tag.name) }}', target: '_top' })
    {% endfor %}

    var settings = {
        entries: entries,
        width: 600,
        height: 600,
        radius: '70%',
        radiusMin: 75,
        bgDraw: true,
        bgColor: '#fff',
        opacityOver: 1.00,
        opacityOut: 0.05,
        opacitySpeed: 6,
        fov: 800,
        speed: 0.2,
        fontFamily: 'Oswald, Arial, sans-serif',
        fontSize: '15',
        fontColor: '#000',
        fontWeight: 'normal',//bold
        fontStyle: 'normal',//italic
        fontStretch: 'normal',//wider, narrower, ultra-condensed, extra-condensed, condensed, semi-condensed, semi-expanded, expanded, extra-expanded, ultra-expanded
        fontToUpperCase: false

    };

    //var svg3DTagCloud = new SVG3DTagCloud( document.getElementById( 'holder' ), settings );
    $( '#tag-cloud' ).svg3DTagCloud( settings );

  } );

</script>

{% endblock %}