<div class="container py-5">
  <div class="row">
    <div class="col-6 col-md text-center">
      <h5>Find Me</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="https://github.com/Xingwd" target="_blank">GitHub</a></li>
      </ul>
    </div>
    <div class="col-6 col-md text-center">
      <h5>Contact Me</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="mailto:614968414@qq.com">Email</a></li>
      </ul>
    </div>
    <div class="col-6 col-md text-center">
      <h5>Others</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="{{ url_for('info.copyright') }}">Copyright</a></li>
      </ul>
    </div>
  </div>
</div>