{% macro paginate(pagination, endpoint) -%}
<nav aria-label="Page navigation">
  <ul class="pagination pagination-sm justify-content-center">
    <li class="page-item {% if not pagination.has_prev %}disabled{% endif %}">
      <a class="page-link"
         href="{% if pagination.has_prev %}{{ url_for(endpoint, page = pagination.page - 1) }}{% else %}#{% endif %}"
         tabindex="-1">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <!--<li class="page-item">-->
      <!--<a class="page-link" href="{{ url_for(endpoint, page=1) }}">首页</a>-->
    <!--</li>-->
    {% for p in pagination.iter_pages() %}
    {% if p %}
    {% if p == pagination.page %}
    <li class="page-item active">
      <span class="page-link">{{ p }}<span class="sr-only">(current)</span></span>
    </li>
    {% else %}
    <li class="page-item">
      <a class="page-link" href="{{ url_for(endpoint, page=p) }}">{{ p }}</a>
    </li>
    {% endif %}
    {% endif %}
    {% endfor %}
    <!--<li class="page-item">-->
      <!--<a class="page-link" href="{{ url_for(endpoint, page=pagination.pages) }}">末页</a>-->
    <!--</li>-->
    <li class="page-item {% if not pagination.has_next %}disabled{% endif %}">
      <a class="page-link"
         href="{% if pagination.has_next %}{{ url_for(endpoint, page = pagination.page + 1) }}{% else %}#{% endif %}"
         tabindex="-1">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>
{%- endmacro %}