{% extends 'base.html' %}

{% block title %}关于我 | 邢为栋{% endblock %}

{% block header %}己所不欲，勿施于人{% endblock %}


{% block content %}

<div class="container" style="margin-bottom: 60px;">
  <h1>邢为栋</h1>
  <p class="text-muted">Python开发者与爱好者。</p>
  <hr>
  <h5>涉及领域：</h5>
  <ul>
    <li>大数据，Hadoop生态</li>
    <li>Flask Web开发</li>
  </ul>
  <h5>正在探索：</h5>
  <ul>
    <li>机器学习</li>
  </ul>
  <hr>
  <hr>
  <h5>其他：</h5>
  <ul>
    <li>Ambari Stack开发，Hadoop平台开发</li>
    <li>开发Hadoop支持多CPU架构</li>
    <li>流数据处理</li>
    <li>......</li>
  </ul>
</div>

{% include '_info.html' %}

{% endblock %}