<!DOCTYPE html>
<html lang="zh">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- TagCloud JS -->
    <script src="{{ url_for('static', filename='js/jquery.svg3dtagcloud.min.js') }}"></script>

    <!-- Editor.md -->
    <link rel="stylesheet" href="{{ url_for('static',filename='editormd/css/editormd.css') }}"/>
    <script src="{{ url_for('static',filename='editormd/editormd.min.js') }}"></script>

    <!-- Select2 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

    <title>{% block title %}邢为栋 | Python开发者与爱好者{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>
    {% block body %}
    <div class="jumbotron text-center p-3 p-md-5 text-white rounded bg-dark" style="margin-bottom:0">
        <div class="container">
            <p class="header">{% block header %}{% endblock %}</p>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light" role="navigation" style="margin-bottom:45px">
      <div class="container d-flex">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-md-center" id="navbarSupportedContent">
          <ul class="navbar-nav">
              <li class="nav-item p-2">
                  <a class="nav-link" href="{{ url_for('index') }}">主页</a>
              </li>
              <li class="nav-item p-2">
                  <a class="nav-link" href="{{ url_for('blog.blog') }}">博客</a>
              </li>
              <li class="nav-item p-2">
                  <a class="nav-link" href="{{ url_for('reading.reading') }}">读书</a>
              </li>
              <li class="nav-item p-2">
                  <a class="nav-link" href="{{ url_for('travel.travel') }}">旅行</a>
              </li>
              <li class="nav-item p-2">
                  <a class="nav-link" href="{{ url_for('photography.photography') }}">摄影</a>
              </li>
              <li class="nav-item p-2">
                  <a class="nav-link" href="{{ url_for('about_me') }}">我</a>
              </li>
          </ul>
        </div>
      </div>
    </nav>

    {% block content %}
    {% endblock %}
    
    <footer class="footer text-center text-white rounded bg-dark">
        <div class="container">
            <span>© 2018 邢为栋</span>
        </div>
    </footer>
    {% endblock %}

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
  feather.replace()
</script>
</body>
</html>